<footer>
   <div class="f-info">
<div class="f-info-socials">
    <a href="https://www.facebook.com/suraj.kushawaha.391/"><i class="fa-brands fa-facebook"></i></a>   
    <a href="https://www.instagram.com/suraj__1.22/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/suraj-maurya-bb4130256/"><i class="fa-brands fa-linkedin">  </i></a>
</div>
<div class="f-info-brand"> &copy; Travel Quest Private Limited</div>
<div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms 1001201</a>
</div>

</div> 
</footer>